h1{
    text-align: center;
    color: white;
}
body{
    background-color: black;
}
.demotext {
    color: #FFFFFF;
    
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    color: #FFFFFF;
    text-justify: auto;
    
    }


